n1 {
    color: black;
    font-weight: bold;
    font-size: 15px;
}

centered {
    position: fixed;
    top: 40%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-60%, -50%);
}
