<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new topic</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>

<div th:insert="navigation :: nav"></div>

<div class = "container">
    <div class = "row">
        <div class = "col-md6 col-md-offset-3">

            <br><br>
            <form method="post" th:action="@{/topic/update/{id}(id = ${topic.id})}" th:object="${topic}">
                <h3>Title: <span th:text="${topic.title}"></span></h3>
                <div class="row">
                    <div class="input-field col s12">
                        <br><br>
                        <div>
                            <label for="text">Text</label>
                        </div>
                        <textarea th:field="*{text}" id="text" name="text" class="materialize-textarea" rows="10" cols="80"></textarea>
                        <p th:if="${#fields.hasErrors('text')}" th:errors="*{text}" class="red-text">Incorrect inscription!</p>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input class="btn waves-effect waves-light" type="submit" name="action" value="Submit" />
                    </div>
                </div>

            </form>
</body>
</html>