<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new topic</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-light" style="background-color: #969bd9;">
    <span class="navbar-brand">Create new topic</span>
</nav>

<div class = "container">
    <div class = "row">
        <div class = "col-md6 col-md-offset-3">

            <h5>
                <a th:href="@{/topic/{id}(id = topic.id)}"></a>
                <span th:text="${topic.title}"></span>
            </h5>

            <div class="col s10">
                <div class="row">
                    <div class="col s11">
                        Stworzony
                        <p th:text="${topic.createdAt} ? ${#calendars.format(topic.createdAt, 'HH:mm dd MMMM yyyy')}"></p>
                        <p th:utext="${#strings.replace(topic.text,T(java.lang.System).getProperty('line.separator'),'&lt;br /&gt;')}"></p>
                        <div class="divider"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>