<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Topic</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link th:href="@{/main.css}" rel="stylesheet" />
</head>
<body>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<div th:insert="navigation :: nav"></div>

<div align="center" class = "container">
    <div class = "row">
        <div class = "col-md3 col-md-offset-0">
            <table border="1" style="width:60pc" class="table table-bordered table-striped">
                <thead>
                <tr style="background-color: lightsteelblue">
                    <th sec:authorize="hasAuthority('ADMIN')">Id</th>
                    <th>Topic name</th>
                    <th>Created</th>
                    <th>Login</th>
                </tr>
                </thead>
                <tbody>
                <td sec:authorize="hasAuthority('ADMIN')" th:width="50px" th:text="${topic.id}"></td>
                    <td th:width="300px" th:text="${topic.title}"></td>
                    <td th:width="200px" th:text="${#dates.format(topic.createdAt, 'dd-MM-yyyy | HH:mm')}"></td>
                    <td th:width="200px" th:text="${topic.user.getLogin()}"></td>
                </tbody>
                <td colspan="4" th:text="${topic.text}"></td>
                <div th:if="${#authentication.name} == ${topic.user.login}">
                    <tr>
                    <td colspan="3" style="font-size: smaller">
                        <a th:href="@{/topic/delete/{id}(id = ${topic.id})}">Delete</a>
                    <a th:href="@{/topic/edit/{id}(id = ${topic.id})}" >Edit</a>
                    </td>
                    </tr>
                </div>
            </table>


        </div>
    </div>
</div>
<div align="center" class = "container">
            <table border="1" th:each="inscription : ${inscriptionList}" style="width: 60pc" class="table table-bordered table-striped">
                <thead>
                <tr style="background-color: lightsteelblue; font-weight: bold">
                    <td sec:authorize="hasAuthority('ADMIN')" th:width="50px" th:text="${inscription.id}"></td>
                    <td style="width: 80pc" th:text="'Created by ' + ${inscription.user.login}"></td>
                    <td style="width: 20pc" th:text="${#dates.format(inscription.createdAt, 'HH:mm | dd-MM-yyyy')}"></td>
                </tr>
                </thead>
                <tbody>
                <tr style="background-color: lemonchiffon">
                <td colspan="3" th:text="${inscription.text}"></td>

                </tr>
                </tbody>
                <div th:if="${#authentication.name} == ${inscription.user.login}">
                <tfoot>
                <td colspan="3" style="font-size: smaller">
                    <a th:href="@{/inscription/edit/{id}(id = ${inscription.id})}" >Edit</a> |  |
                    <a href="" data-toggle="modal" data-target="#modal-warning" th:attr="data-target='#modal-warning' + ${inscription.id}">Delete</a>
                    <div class="modal modal-warning fade in" id="myModal" th:id="modal-warning+${inscription.id}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <h3>Are you sure you want to delete this inscription?</h3>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Back</button>
                                    <a type="button" class="btn btn-danger" th:href="@{/inscription/delete/{id}(id = ${inscription.id})}"></i>Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                </tfoot>
                </div>
            </table>

    <n1><div th:if = "${totalPages > 1}">
        <div class = "row col-sm-10">
            <div class = "col-sm-3">
                Total inscriptions: [[${totalElements}]]
            </div>
            <div class = "col-sm-2">
                [[${currentPage}]] || [[${totalPages}]]
            </div>

            <div class = "col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/topic/{id}/page/' + ${currentPage + 1}(id = ${topic.id})}">Next</a>
                <a th:if="${currentPage == totalPages}" th:href="@{'/topic/{id}/page/' + 1(id = ${topic.id})}">First</a>
            </div>

            <div class = "col-sm-1">
                <a th:if="${currentPage > 1}" th:href="@{'/topic/{id}/page/' + ${currentPage - 1}(id = ${topic.id})}">Previous</a>
            </div>

            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/topic/{id}/page/' + ${totalPages}(id = ${topic.id})}">Last</a>
                <span th:unless="${currentPage < totalPages}">Last</span>
            </div>

            <form method="post" th:action="@{/topic/{id}/page/__${pageNumber}__(id = ${topic.id})}">
                <div class="col-sm-4">
                    <input type="number" th:value="pageNumber" name="pageNumber" class="form-control">
                    <button type="submit" class="btn btn-success">Go</button>
                </div>
            </form>


        </div>
    </div></n1>

</div>
            <div class="col-sm-10">
                <a th:href="@{/topic/{id}/inscription(id = ${topic.id})}" class="btn btn-success pull-right">Add inscription</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>